.app{
    background-color: #afd4c0;
    overflow: scroll;
    /* min-height: 90vh; */
    /* max-height: 10000vh */
}
.container{
    display: flex;
    /* width: 50%; */
    min-height: 90vh; 
    /* max-height: 10000vh; */
    background-color: #f6f0f0;
    margin-left: 25%;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.add-new{
    width: auto;
    height: 40px;
    color: black;
    background-color: #8aea92;
    font-size: 23px;
    border-radius: 3px;
    margin-left: 240.5px;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    
}

.anp-div{
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    max-height: 40px;
    margin-top: 25px;
}

.filter-div{
    /* justify-content: center;
    align-items: center; */
    font-size: 18px;
    max-height: 40px;
    margin-top: 50px;
    margin-left: 50px;
}

.input-box{
    width: 50px;
    height: 22px;
    font-size: 15px;
}

.filter{
    color: black;
    background-color: #8aea92;
    border-radius: 3px;
    width: 70px;
    height: 35px;
    font-size: 20px;
}

.reset{
    width: 70px;
    height: 35px;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 3px;
}

.line{
    margin-left: 25px;
    width: 670px;
    height: 35px;
    border-bottom: solid black 1px;
}

.home-list{
    margin-left: 30px;
}

.listing-container{
    margin-left: 25px;
    width: 670px;
    min-height: 200px;
    display: inline-block;
    justify-content: space-around 5px;
}

.info{
    /* height: 200px; */
    margin-top: 10px;
    display: flex;
}

.urlPic{
    background: #c1bfbe;
    width: 20%; 
    min-height: 200px;
    float: left;
}

.nameDesc{
    background: #dddad9;
    width: 39%;
    min-height: 200px;
    float: left;
}

.everyElse{
    background: #dddad9;
    width: 40%;
    min-height: 200px;
    float: left;
    border-left: solid black 1px;
    font-weight: bold
}

#ha, #hc, #hs, #hz, #hl, #hm, #hr, #pn, #pd, #hu{
    float: left;
    clear: left;
}

#pn{
    font-weight: bold
}

